<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-right"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <!-- <span class="badge badge-secondary">{{ book.rating }}</span> -->
          <p>{{ printStars(book.rating) }}</p>
      </h2>
    </div>
    <p>{{ book.description }}</p>
    <p>Preis: {{ book.price | currency: 'EUR' }}</p>
    <button class="btn btn-success mr-2" (click)="onRateUp()" [disabled]="book.rating === 5"> + </button> <!-- TODO -->
    <button class="btn btn-danger mr-2" (click)="onRateDown()" [disabled]="book.rating === 1"> - </button> <!-- TODO -->
    <a [routerLink]="['/books', book.isbn]">Details</a><!--absolute path: /books => /books/123456-->
    <!-- <a [routerLink]="book.isbn">Details</a> // relative path: /books => ./123456 -->
    <button class="btn btn-info float-right" (click)="onDelete()"> X </button>
  </div>
</div>
