<form [formGroup]="bookForm">

  <div class="form-group">
    <label>ISBN</label>
    <input type="text" formControlName="isbn" class="form-control" />
    <div class="feedback-error" *ngIf="isInvalid('isbn')">The ISBN is invalid.</div>
    <div class="feedback-error" *ngIf="hasError('isbn', 'minlength')">The ISBN is short.</div>
    <div class="feedback-error" *ngIf="hasError('isbn', 'maxlength')">The ISBN is long.</div>
  </div>

  <div class="form-group">
    <label>Title</label>
    <input type="text" formControlName="title" class="form-control">
  </div>


  <div class="form-group">
    <label>Description</label>
    <textarea type="text" formControlName="description" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label>Rating</label>
    <input type="number" formControlName="rating" class="form-control" min=1, max=5>
  </div>

  <div class="form-group">
    <label>price</label>
    <input type="number" formControlName="price" class="form-control">
  </div>

</form>
